asgiref
asn1crypto
astroid
boto3
botocore
certifi
cffi
chardet
colorama
cryptography
Django
django-crispy-forms
django-filter
django-storages
fpdf
gunicorn
idna
inflection
isort
jmespath
lazy-object-proxy
mccabe
more-itertools
ndg-httpsclient
numpy
pandas
Pillow
pyasn1
pycparser
PyJWT
pylint
pyOpenSSL
PySocks
python-dateutil
pytz
Quandl
requests
s3transfer
six
SpeechRecognition
sqlparse
toml
twilio
typed-ast
typing-extensions
urllib3
virtualenv
virtualenvwrapper-win
whitenoise
wrapt
